body {
	margin: 0;
	background-color: "#5b5b59";
    color: "#333333";
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px auto;
    display: block;
    overflow: auto;
}

/*Test coding */
#contact-container {
  width: 100%;
  height: 100%;
  z-index: 100;
position: absolute;
display: none;
}

#contact-overlay {
  width: 100%;
  height: 200%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
	position: relative;



}
  #contact-box {
	width: 593px;
	height: 336px;
	background-color: #f9f9f9;
	opacity: 1;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}

.remove-z {
	z-index: 200;
}

/*put contact box2 here*/
#contact-box2 {
width: 593px;
height: 336px;
background-color: #f9f9f9;
opacity: 1;
border-radius: 20px;
position: absolute;
z-index: 100;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#submitted {
	font-size: 1.5em;
	    text-align: center;
	    margin: auto;
	    line-height: 1;
	    margin: 84px 106px 74px 100px;
}

.button2 {
padding: 8px 20px;
margin: auto;
width: 13%;
text-align: center;
color: white;
border-radius: 10px;
font-size: 16px;
border-style: solid;
background-color: #272727;
border-width: 0.5px;

}
.button:hover, .button2:hover {
	cursor: pointer;
	background-color:#464e7d;
	color: white;

}


#header-contact {
    margin: 16px 0;
    text-align: center;
    font-size: 1.4em;

	}

	#message {
	    height: 100px;
	}

	.user-info {
	    margin: 6px 10px;
	    /* margin: 16px 0; */
	    font-size: 15px;
	    border: 2px solid #767674;
	    border-radius: 5px;
	    width: 500px;
	    text-align: center;
	    padding: 5px 36px;
	}

.button {
	background-color: #272727;
	padding: 8px 20px;
	margin: 7px 10px;
	float: right;
	width: 13%;
	text-align: center;
	color: white;
	border-radius: 6px;
	right: 10;
	font-size: 16px;
}

.user-info::-webkit-input-placeholder  {
color: black;
}
.button:hover {
  cursor: pointer;
}


		/*end*/

a, a:link, a:visited {
	text-decoration: none;
	color:inherit;
}


#home {
  background: rgba(255, 255, 255, 0.68);
  font-weight: bold;
}

#container {
  width: 100%;
  height: 100%;
}

.front-container {
  width: 100%;
  height: 100px;
  background-color: white;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-align: center;

}
.virus-logo {
  width: 4%;
  position: absolute;
    top: 4.5%;
    right: 34%;

}

.nav-bar {
  width: 100%;
  height: 50px;
  display: inline-block;
  text-align: center;
  background-color: rgba(196, 196, 196, 0.31);
	border-radius: 8px;

}
.nav-items {
  float: left;
  left: 35%;
  margin: 0 20px;
  position: relative;
  padding: 9px;
  font-size: 18px;
  height: 100%;
  width: 100px;
	border-radius:8px;
}

.nav-items:hover {
  border-style: 1px grey solid;
  cursor:pointer;
  background: rgba(255, 255, 255, 0.68);

}

#home {
  background: rgba(255, 255, 255, 0.68);
  font-weight: bold;
}

#contact {
	margin: 15px 50px;
	font-weight: 400;
	width: 100px;
	height: 25px;
	position: absolute;
	text-align: -webkit-center;
	margin: 8px 2px;
	right: 50px;
	border-style: solid;
	border-color: #646461;
	border-style: 1px;
	padding: 5px 20px;
	border-width: 1.4px;
	border-radius: 10px;
	font-weight: 1.3em;
}

#contact:hover {
    cursor: pointer;
}
.clear {
  clear: both;
}

#info {
  width: 100%;
  height: 300px;
  background-color: black;
  position:relative;
  z-index:1;
}

#virus-img {
  width:100%;
}

#Welcome {
  font-family: 'Pacifico', cursive;
  font-size: 1.8em;
}
#speech {
  width: 20%;
  height:100%;
  position: absolute;
  color: #f9f9f9;
  font-size: 18px;
  z-index:10;
  top: 5%;
  left: 5%;
  text-align: justify;

}


/* text-align: center; */
/* z-index: 10; */
}
